@model EditMaterialViewModel
@{
    ViewData["Title"] = "DetailsMaterial";
}

<h1 class="text-primary">Details Material</h1>

<hr />

<partial name="_Notification" />
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="EditMaterial" method="post">
            @Html.HiddenFor(m => m.Id)

            <div class="mb-3">
                <label asp-for="@Model.MaterialNumber" class="form-label">Material Number</label>
                <input asp-for="@Model.MaterialNumber" disabled class="form-control" aria-required="true" />
                <span asp-validation-for="MaterialNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <a asp-area="Management" asp-controller="Material" asp-action="AllMaterial"
                   class="btn btn-secondary" style="width:150px">
                    Cancel
                </a>
                <a asp-area="Management" asp-controller="Material" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger" style="width:150px">
                    Delete
                </a>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
