@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Notification" />
<div class="text-center">
    <h1 class="display-3">Machine Building Factory</h1>
    <h2 class="display-4">All that you need for your Project</h2>
    <img class="card-img-top" style="width: 50rem;"
         src="https://files.fm/thumb_show.php?i=ts9v9r2nz" alt="Image Assembly">

    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
